@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    // IE10+ CSS here
    .product-image-detail {
        max-width: auto !important;
        width: auto;
    }
    .product-item-image img {
        /* display: none; */
        width: 100%;
        max-width: 100%;
    }
    @media only screen and (max-width:1300px) {
        .product-detail-box {
            display: block;
        }
        .product-image-detail {
            max-width: 40%;
            width: 40%;
        }
        .pdetail {
            width: 60%;
            max-width: 60%;
        }
    }
    // .discription-control1.pro-add {
    //     a#addtoCartCheckoutbtn {
    //         background-color: #c90505 !important;
    //         font-size: 20px;
    //         text-transform: uppercase;
    //         padding: 15px 40px !important;
    //         font-weight: bold;
    //         border: none;
    //         color: #fff;
    //         overflow: hidden;
    //         position: relative;
    //         width: 200px;
    //         height: 50px !important;
    //         border-radius: 3px;
    //         padding: 0 !important;
    //         &:before {
    //             background: #c90505;
    //             content: 'add to cart';
    //             width: 100%;
    //             position: absolute !important;
    //             left: 0;
    //             top: 0;
    //             color: #fff !important;
    //             display: flex;
    //             align-items: center;
    //             height: 100%;
    //             z-index: 999;
    //             text-indent: inherit !important;
    //             justify-content: center;
    //         }
    //     }
    //     a#addtoSCartbtn {
    //         display: none;
    //     }
    // }
}

#btnLoadMoreReviews {
    float: inherit !important;
}

#reviewItemTemplate {
    display: none !important;
}

.shopperlink {
    margin-bottom: 10px !important;
    display: block !important;
    margin-top: 10px !important;
    img {
        // width: 100% !important;
        height: auto !important;
    }
}

.product-row h2 {
    padding: 10px 0 !important;
    border: 0 !important;
}

.product-container .spacer {
    margin: 5px 0 !important;
}

.sidenav ul ul li a {
    border: 0 !important;
    background-color: #fafafa !important;
}

.sidenav ul li a {
    border-bottom: 1px solid #e5e5e5 !important;
}

.sidenav {
    .remove {
        padding: 0;
        height: 15px;
        width: 15px;
        line-height: 10px;
        position: relative;
        right: -5px;
        text-align: center !important;
    }
}

.sp-offer {
    padding: 10px;
}

.orderallcolorssizes {
    #bulkpane {
        z-index: 9;
    }
}

#books {
    .inner_books {
        height: 15px !important;
    }
}

.result-info {
    border: 0 !important;
    padding: 10px 0;
}